@main("Hello World Example"){
    <h3>hello-world API example</h3>

    <div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>endpoint</th>
                <th>description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>/hello/world</td>
                <td>Say Hello World</td>
                <td>
                    <a class="btn btn-primary" href="/hello/hello-world">Try it</a>
                </td>
            </tr>
            <tr>
                <td>/hello/application</td>
                <td>Say Hello Application</td>
                <td>
                    <a class="btn btn-primary" href="/hello/hello-application">Try it</a>
                </td>
            </tr>
            <tr>
                <td>/hello/user</td>
                <td>Say Hello User</td>
                <td>
                    <a class="btn btn-primary" href="/hello/hello-user">Try it</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
}
